<form action="/users/new" method="post">
    <input placeholder="Pseudo" name="pseudo" type="text" />
    <input placeholder="Email" name="email" type="email" />
    <input placeholder="Mot de passe" name="password" type="password" />
    <input placeholder="Confirmation" name="confPassword" type="password" />
    <input value="Créer un compte" name="submit" type="submit" />
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
</form>