<!DOCTYPE html>
<html>
  <head>
    <title>My game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="/public/javascripts/Box2D.js"></script>
    <script src="/public/javascripts/te2d.js"></script>
    <script src="/public/javascripts/main.js"></script>

    <link rel="stylesheet" href="/public/javascripts/main.css">
  </head>

  <body>
    <%- body %>
  </body>
</html>
